@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* , ::before, ::after{ 
	
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/* mise en place du boutton 3D */

/* .btn {
    display: block;
    margin: 60px auto 0;
    font-size: 30px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    padding: 25px 80px;
    background: #695d46;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 6px #e4e3e1;
}
.btn:hover {
    box-shadow: 0 4px #efa424;
    top: 2px;
}
.btn:active {
    box-shadow: 0 0 #efa424;
    top: 6px;
}  */

/* fin de la  mise en place du boutton 3D */



/* mise en forme du cube qui tourne */

  .cube {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	animation: spin 5s infinite linear;
  }
  
  .face {
	position: absolute;
	width: 200px;
	height: 200px;
  }
  
  .top {
	background-image: linear-gradient(
	  43deg,
	  #4158d0 0%,
	  #c850c0 46%,
	  #ffcc70 100%
	);
	transform: rotateX(90deg) translateZ(100px);
  }
  .bottom {
	background-image: linear-gradient(
	  43deg,
	  #4158d0 0%,
	  #c850c0 46%,
	  #ffcc70 100%
	);
  
	transform: rotateX(-90deg) translateZ(100px);
  }
  
  .right {
	background-image: linear-gradient(
	  43deg,
	  #4158d0 0%,
	  #c850c0 46%,
	  #ffcc70 100%
	);
  
	transform: rotateY(90deg) translateZ(100px);
  }
  .left {
	background-image: linear-gradient(
	  43deg,
	  #4158d0 0%,
	  #c850c0 46%,
	  #ffcc70 100%
	);
  
	transform: rotateY(-90deg) translateZ(100px);
  }
  
  .front {
	background-image: linear-gradient(
	  43deg,
	  #4158d0 0%,
	  #c850c0 46%,
	  #ffcc70 100%
	);
  
	transform: rotateX(0deg) translateZ(100px);
  }
  .back {
	background-image: linear-gradient(
	  43deg,
	  #4158d0 0%,
	  #c850c0 46%,
	  #ffcc70 100%
	);
  
	transform: rotateX(-180deg) translateZ(100px);
  }
  
  @keyframes spin {
	from {
	  transform: rotateX(0deg) rotateY(0deg);
	}
	to {
	  transform: rotateX(360deg) rotateY(360deg);
	}
  }
  /* fin de mise en forme du cube qui tourne */

/* mise en place de mes compétences */
body{
    background: rgb(0, 228, 245);
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: rgb(3, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: auto;
    width: 60%;
    border-radius: 3px;
    box-shadow: 0 0 25px #000;
    padding: 10px 80px 40px;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2em;
}

h1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.container .bar:not(:last-child){
    margin-bottom: 15px;
}

.bar {
    width: 100%;
    background: #444;
    border-radius: 5px;
    box-shadow: inset 5px 5px 10px #2c2c2c, 
            inset -5px -5px 10px #5c5c5c;
}

.bar-stat{
    padding: 8px 20px;
    border-radius: 5px;
    text-shadow: 0 0 5px #000;
}

#html{
    background: #d65c3d;
    animation: htmlSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

#css{
    background: #3755cc;
    animation: cssSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

#js{
    background: #d4a040;
    animation: jsSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes htmlSlide{
    0%{width: 0%;}
    100%{width: 75%;}
}

@keyframes cssSlide{
    0%{width: 0%;}
    100%{width: 50%;}
}

@keyframes jsSlide{
    0%{width: 0%;}
    100%{width: 20%;}
}



/* Terre qui tourne*/
.ball {
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0;
	border-radius: 50%;
	position: relative;
	-webkit-transform-style: preserve-3d;
	background: url('http://hop.ie/balls/images/world-map-one-color.png') repeat-x;
	background-size: auto 100%;
	-webkit-animation: move-map 30s infinite linear;
	-moz-animation: move-map 30s infinite linear;
	-o-animation: move-map 30s infinite linear;
	-ms-animation: move-map 30s infinite linear;
	animation: move-map 30s infinite linear;
  }
  
  .ball:before {
	content: "";
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: -40px 10px 70px 10px rgba(0,0,0,0.5) inset;
	z-index: 2;
  }
  
  .ball:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-filter: blur(0);
	opacity: 0.3;
	background: radial-gradient(circle at 50% 80%, #00d7f3, #08dbfc 10%, #00f87c 66%, #01ac87 100%);
  }
  
  .ball .shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(5, 44, 20, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
	-webkit-transform: rotateX(90deg) translateZ(-150px);
	-moz-transform: rotateX(90deg) translateZ(-150px);
	-ms-transform: rotateX(90deg) translateZ(-150px);
	-o-transform: rotateX(90deg) translateZ(-150px);
	transform: rotateX(90deg) translateZ(-150px);
	z-index: -1;
  }
 
  
  .stage {
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: 20px;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-ms-perspective: 1200px;
	-o-perspective: 1200px;
	perspective: 1200px;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	-o-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
  }
  
  @-moz-keyframes move-map {
	0% {
	  background-position: -849px 0; }
  
	100% {
	  background-position: 0 0; } }
  
  @-webkit-keyframes move-map {
	0% {
	  background-position: 0 0; }
	100% {
	  background-position: -849px 0; }
  }
  
  
  @-o-keyframes move-map {
	0% {
	  background-position: -849px 0; }
  
	100% {
	  background-position: 0 0; } }
  
  @-ms-keyframes move-map {
	0% {
	  background-position: -849px 0; }
  
	100% {
	  background-position: 0 0; } }
  
  @keyframes move-map {
	0% {
	  background-position: -849px 0; }
  
	100% {
	  background-position: 0 0; } }

/* fin  Terre qui tourne*/
 


html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: rgb(0, 14, 211);
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid rgb(17, 178, 184);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: rgb(123, 150, 238);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: rgb(223, 110, 5);
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* Fin Header section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #0058b6 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* Fin Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: rgb(20, 173, 220);
		font-weight: 500;
	}
}
/* Fin Keyframes */

/* Requête multimédia pour tablette */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}
}
/*Fin de la requête multimédia pour la tablette */

/* Requête multimédia pour ordinateur de bureau */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* Terminer la requête multimédia pour le bureau */
/* * Requête multimédia pour tablette */ 
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* Fin Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* Fin Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* Fin Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid rgba(0, 121, 235, 0.959);
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* Fin About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	

/* Fin contact  */

/*Fin de la requête multimédia pour la tablette */

/* Requête multimédia pour ordinateur de bureau */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
 }
}
/* Terminer la requête multimédia pour le bureau */
